/* .image{
    margin: 1em;
} */

  
.My-Container > div {
    display: inline-block;
    margin: 2em;
}

.r0 {
    background:         #214793;
    color:		white;
    text-align:		center;
    padding:		6px;
}
.r1 {
    background:		#ccc;
    border:		1px solid blue;
    padding:		6px;
    vertical-align:	top;
}
.r2 {
    background:		white;
    border:		1px solid blue;
    padding:		6px;
    vertical-align:	top;
}
.r3 {
    background:         #e7f5fe;
    border:		1px solid blue;
    padding:		6px;
    vertical-align:	top;
}